USE [master]
GO
/****** Object:  Database [fmWebApp]    Script Date: 2019-09-17 21:08:54 ******/
CREATE DATABASE [fmWebApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fmWebApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER_2\MSSQL\DATA\fmWebApp.mdf' , SIZE = 2042KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fmWebApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER_2\MSSQL\DATA\fmWebApp_log.ldf' , SIZE = 2042KB , MAXSIZE = 1GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fmWebApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fmWebApp]
GO
/****** Object:  Table [dbo].[fm_Incomes]    Script Date: 2019-09-17 21:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fm_Incomes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Amount] [float] NULL,
	[Type] [int] NOT NULL,
	[InsertTime] [datetime] NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_fm_Incomes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fm_Outcomes]    Script Date: 2019-09-17 21:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fm_Outcomes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Amount] [float] NULL,
	[Type] [int] NULL,
	[Currency] [int] NULL,
	[InsertTime] [datetime] NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_fm_Outcomes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fm_Users]    Script Date: 2019-09-17 21:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fm_Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Email] [nvarchar](80) NULL,
	[Password] [nvarchar](255) NULL,
	[ForgottenPasswordToken] [nvarchar](255) NULL,
	[LastSuccessfullLogin] [datetime] NULL,
	[LastFailedLogin] [datetime] NULL,
	[InsertTime] [datetime] NULL,
	[AccountStatus] [int] NOT NULL,
	[AccountSleeps] [bit] NULL,
	[DefaultCurrency] [int] NULL,
	[Salt] [binary](16) NULL,
	[IsOnline] [int] NOT NULL,
	[AppThemeId] [int] NOT NULL,
 CONSTRAINT [PK_fm_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
